[submodule "external/libjuice"]
	path = external/libjuice
	url = https://github.com/paullouisageneau/libjuice.git
[submodule "external/manifold"]
	path = external/manifold
	url = https://github.com/elalish/manifold.git
